.new-collections {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* height: 90vh; */
    margin-bottom: 100px;
  } 
  .new-collections h1{
      color: #171717;
      font: 50px;
      font-weight: 600px;
  }
  .new-collections hr{
      width: 200px;
      height: 6px;
      border-radius: 10px;
      background: #252525;
  }
  .collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    
  }



  @media (max-width: 1200px) {
  .collections {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .new-collections h1 {
    font-size: 42px;
  }
}

@media (max-width: 900px) {
  .collections {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .collections {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .new-collections h1 {
    font-size: 32px;
  }

  .new-collections hr {
    width: 140px;
    height: 5px;
  }
}

@media (max-width: 400px) {
  .new-collections h1 {
    font-size: 26px;
  }
}
