.cart-item {
  margin: 100px 170px;
}

.cart-item hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cart-item-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cart-item-format {
  font-size: 17px;
  font-weight: 500;
}

.cart-icon-product-icon {
  height: 62px;
}

.cart-item-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cart-item-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: white;
}

.cart-item-down {
  display: flex;
  margin: 100px 0px;
}

.cart-item-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cart-item-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cart-item-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cart-item-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cart-item-promocode p {
  color: #555;
}

.cart-item-promo-box {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  background: #eaeaea;
  height: 58px;
  display: flex;
}

.cart-item-promo-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}

.cart-item-promo-box button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .cart-item {
    margin: 80px 80px;
  }

  .cart-item-format-main {
    gap: 40px;
  }

  .cart-item-total {
    margin-right: 80px;
  }

  .cart-item-promo-box {
    width: 420px;
  }

  .cart-item-promo-box input {
    width: 260px;
  }
}

@media (max-width: 900px) {
  .cart-item {
    margin: 60px 40px;
  }

  .cart-item-format-main {
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  }

  .cart-item-remove-icon {
    display: none;
  }

  .cart-item-down {
    flex-direction: column;
    gap: 60px;
  }

  .cart-item-total {
    margin-right: 0;
  }

  .cart-item-promo-box {
    width: 100%;
  }

  .cart-item-promo-box input {
    width: calc(100% - 170px);
  }
}

@media (max-width: 600px) {
  .cart-item {
    margin: 40px 20px;
  }

  .cart-item > .cart-item-format-main {
    display: none;
  }

  .cart-item-format {
    display: block;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
  }

  .cart-item-format-main {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px;
    font-size: 14px;
  }

  .cart-icon-product-icon {
    height: 60px;
    grid-row: span 4;
  }

  .cart-item-quantity {
    width: 50px;
    height: 40px;
  }

  .cart-item-remove-icon {
    display: block;
    grid-column: span 2;
    justify-self: end;
    margin: 0;
  }

  .cart-item-total button {
    width: 100%;
  }

  .cart-item-promo-box {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .cart-item-promo-box input {
    width: 100%;
    height: 46px;
  }

  .cart-item-promo-box button {
    width: 100%;
    height: 46px;
  }
}

@media (max-width: 400px) {
  .cart-item-total h1 {
    font-size: 22px;
  }

  .cart-item-total-item p,
  .cart-item-total-item h3 {
    font-size: 14px;
  }
}
