.description-box{
    margin: 120px 170px;
}
.description-box-navigator{
    display: flex;

}
.description-box-nav-box{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.description-box-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}
.description-box-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 48px;
    padding-bottom: 70px;
    border: 1px solid #d0d0d0;
}



@media (max-width: 1200px) {
  .description-box {
    margin: 100px 80px;
  }
}

@media (max-width: 900px) {
  .description-box {
    margin: 80px 40px;
  }

  .description-box-description {
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .description-box {
    margin: 60px 20px;
  }

  .description-box-navigator {
    flex-direction: column;
  }

  .description-box-nav-box {
    width: 100%;
    height: 56px;
  }

  .description-box-description {
    padding: 28px;
    padding-bottom: 40px;
    gap: 18px;
  }
}

@media (max-width: 400px) {
  .description-box-description {
    padding: 22px;
  }

  .description-box-nav-box {
    font-size: 14px;
    height: 50px;
  }
}
