.news-letter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  gap: 30px;
}
.news-letter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.news-letter p{
    color: #454545;
    font-size: 20px;

}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.news-letter input{
        width: 500px;
        margin-left: 30px;
        border: none;
        outline: none;
        color: #616161;
        font-size: 16px;
}
.news-letter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


@media (max-width: 1200px) {
  .news-letter {
    width: 80%;
    padding: 0 80px;
  }

  .news-letter h1 {
    font-size: 44px;
  }

  .news-letter div {
    width: 100%;
  }

  .news-letter input {
    width: calc(100% - 210px);
  }
}

@media (max-width: 900px) {
  .news-letter {
    width: 90%;
    padding: 0 40px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .news-letter h1 {
    font-size: 36px;
  }

  .news-letter p {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .news-letter {
    padding: 40px 20px;
    gap: 20px;
  }

  .news-letter h1 {
    font-size: 28px;
  }

  .news-letter p {
    font-size: 16px;
  }

  .news-letter div {
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
  }

  .news-letter input {
    width: 100%;
    margin-left: 0;
    height: 50px;
  }

  .news-letter div button {
    width: 100%;
    height: 50px;
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .news-letter h1 {
    font-size: 24px;
  }
}
